[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

flask = "*"
pyyaml = "*"
google-api-python-client = "*"


[dev-packages]

"pep8" = "*"
pylint = "*"
django = "*"


[requires]

python_version = "3.6"
