<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>DJ Scaffold</title>

    <link rel="stylesheet" href="/static/style/main.css">
</head>

<body>
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    500 Internal Server Error
                </h1>
                <h2 class="subtitle">
                    Make your web development more efficient.
                </h2>
                <div class="container">
                    <article class="message is-danger">
                        <div class="message-header">
                            <p>Error Detail</p>
                            <button class="delete" aria-label="delete"></button>
                        </div>
                        <div class="message-body">
                            Sorry, something <string>error</string> has occured on server.
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section>


    <script src="/static/front.js"></script>
</body>

</html>