<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>DJ Scaffold</title>

    <link rel="stylesheet" href="/static/style/main.css">
</head>

<body>

    <div class="container">
        <div class="columns">

            <div class="column">
                <h1 class="front_big">Config</h1>
            </div>
        </div>


        <div class="tile is-ancestor">
            <div class="tile is-parent">
                <article class="tile is-child notification">
                    <div class="content">
                        <p class="title">Configuration</p>
                        <p class="subtitle">Config in {{ project_name }}</p>
                        <div class="content">
                            <p>
                                <a href="/config/">General</a>
                            </p>
                            <p>
                                <a href="/config/django/">Django Project</a>
                            </p>
                            <p>
                                <a href="/config/nodejs/">Front Apps</a>
                            </p>
                        </div>
                    </div>
                </article>
            </div>
            <div class="tile is-vertical is-8">

                <nav class="breadcrumb is-centered" aria-label="breadcrumbs">
                    <ul>
                        <li>
                            <a href="/config/">Config</a>
                        </li>
                        <li class="is-active">
                            <a href="/config/django/" aria-current="page">Django Project</a>
                        </li>
                    </ul>
                </nav>


                <div class="field">
                    <label class="label">Project Path</label>
                    <div class="control">
                        <input class="input" type="text" placeholder="{{ proj_name }}">
                    </div>
                </div>


                <div class="field">
                    <label class="label">Package Manager</label>
                    <div class="control">
                        <div class="select">
                            <select>
                                <option>Select package manager</option>
                                <option>default npm</option>
                                <option>yarn</option>
                            </select>
                        </div>
                    </div>
                </div>


                <div class="field">
                    <label class="label">Build System</label>
                    <div class="control">
                        <div class="select">
                            <select>
                                <option>Select builder</option>
                                <option>Grant</option>
                                <option>Glup</option>
                                <option>Webpack</option>
                            </select>
                        </div>
                    </div>
                </div>


                <div class="field">
                    <div class="control">
                        <label class="checkbox">
                            <input type="checkbox"> Overwrite old configuration
                        </label>
                    </div>
                </div>

                <div class="field is-grouped">
                    <div class="control">
                        <button class="button is-primary is-rounded">SAVE</button>
                    </div>
                    <div class="control">
                        <button class="button is-warning is-rounded">RESTORE</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/static/front.js"></script>
</body>

</html>
