<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>DJ Scaffold</title>

        <link rel="stylesheet" href="/static/style/bulma.css">
    </head>
    <body>
        <h1 class="front_big">{{ project_name }}</h1>

        <div class="field is-grouped">
            <p class="control">
                <a class="button is-link">
                    Save changes
                </a>
            </p>
            <p class="control">
                <a class="button">
                    Cancel
                </a>
            </p>
            <p class="control">
                <a class="button is-danger">
                    Delete post
                </a>
            </p>
        </div>
    </body>
</html>
