<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>DJ Scaffold</title>

    <link rel="stylesheet" href="/static/style/main.css">
</head>

<body>
    {% if iyashi_image != "none" %}
    <div class="modal is-active">
        <div class="modal-background"></div>
        <div class="modal-content">
            <figure class="image is-256x256">
                <img src="{{ iyashi_image }}">
            </figure>
        </div>
        <button id="modal_close" class="modal-close is-large" aria-label="close"></button>
    </div>
    {% endif %}

    <div class="container">
        <div class="columns">

            <div class="column">
                <h1 class="front_big">Scaffold</h1>
            </div>
        </div>


        <div class="tile is-ancestor">
            <div class="tile is-parent">
                <article class="tile is-child notification">
                    <div class="content">
                        <p class="title">Peoject</p>
                        <p class="subtitle">Apps in {{ project_name }}</p>
                        <div class="content">
                            <p>{{ project_name }}</p>
                            {% for app in app_list %}
                            <p>{{ app }}</p>
                            {% endfor %}
                            <div class="buttons has-addons">
                                <button class="button is-primary create_app_button">CREATE APP</button>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
            <div class="tile is-vertical is-8">
                <div class="tile">
                    <div class="tile is-parent is-vertical">
                        <article class="tile is-child notification is-primary">
                            <p class="title">Models</p>
                            <p class="subtitle">Registered models</p>
                        </article>
                        <article class="tile is-child notification is-warning">
                            <p class="title">Views</p>
                            <p class="subtitle">Activated views</p>
                        </article>
                    </div>
                    <div class="tile is-parent">
                        <article class="tile is-child notification is-info">
                            <p class="title">URL</p>
                            <p class="subtitle">Routings</p>
                            <figure class="image is-4by3">
                                <!--
                                <img src="https://bulma.io/images/placeholders/640x480.png">
                                -->
                            </figure>
                        </article>
                    </div>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child notification is-danger">
                        <p class="title">Information</p>
                        <p class="subtitle">Update or system information</p>
                        <div class="content">
                            <p>Update avalibale!</p>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>

    <script src="/static/front.js"></script>
</body>

</html>